.artistEvent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #f9f9fb;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: #E4E7EB;
  }
}

.artistEvent--visible-map {
  background-color: #E4E7EB;
}

.artistEvent__date {
  width: 30px;
  display: flex;
  flex-direction: column;
  color: #1070ca;
  margin-right: 10px;
}

.artistEvent__month {
  font-size: 0.8rem;
}

.artistEvent__day {
  font-size: 1.2rem;
}

.artistEvent__venue {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.artistEvent__venueMap {
  margin-top: 15px;
  padding: 8px 0;
  width: 100%;
  height: 300px;
  border-top: 1px solid #f9f9fb;
}