.searchInput {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.searchInput__icon {
  margin-right: 10px;
}

.searchInput__editor {
  flex: 1;
  border: 0;
  background-color: transparent;
  font-size: 1.5rem;
  &:focus {
    outline: 0;
  }
}
